@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Begint Reset*/
html {
    width: 1920px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
}

body {
    margin: 0;
}
/*End Reset*/



/*Utility Classes*/
.header_ul {
    margin-left: 353px;
    list-style-type: none;
    display: flex;
    gap: 55px;
    font-size: 24px;
}

.header_ul li
{
    margin-top: 70.5px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.header_ul img {
    margin-top: 22px;
}


.mountine {
    margin-top: 128px;
    font-family: "Inter", sans-serif;
    padding-left: 372px;
    padding-top: 30px;
    border-bottom: 700px solid rgba(0,0,0,0);
    background-image: url('../assets/background/mountines_bg.png');
    background-repeat: no-repeat;
}

.mountine h2 {
    font-size: 40px;
    font-weight: 800;
}

.mountine p {
    font-size: 36px;
    font-weight: 400;
    color: #1fa1c4;
    width: 25ch;
}