html {
    width: 1296px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-top: 22px;
}

.top_menu {
    margin-top: 70.5px;
}

.header_ul {
    margin-left: 100px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}